* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #121212);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background: #FF512F;
  background: linear-gradient(90deg,rgba(255, 81, 47, 1) 9%, rgba(221, 36, 118, 1) 100%);
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 20px 220px rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 400px;
  transition: all 0.3s ease-in-out;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fade 0.3s ease;
  color: #ffffff;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

p {
  text-align: center;
  font-size: 14px;
}

a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 30px 20px;
  }

  input, button {
    font-size: 14px;
  }
}

.titulo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}
